<app-header></app-header>

<main>
  <ul id="users">
    <li>
      <app-user [user] = "users[0]"
      (select)= "onUserSelect($event)"
      />
      

    </li>
    <li>
      <app-user [user] = "users[1]"

      (select)= "onUserSelect($event)"
      />
    </li>
    <li>
      <app-user [user] = "users[2]"
      (select)= "onUserSelect($event)"
      />
    </li>
    <li>
      <app-user [user] = "users[3]"
      (select)= "onUserSelect($event)"
      />
    </li>
    <li>
      <app-user [user] = "users[4]"
      (select)= "onUserSelect($event)"  
      />
    </li>
  </ul>

  <app-tasks [name] = "selectedUser ? selectedUser.name : ''" />


</main>

